img {
    width: 80%;
}
p {
    width: 80%;
}
a {
    font-size: 1.5em;
}
<main>
    <h1>Brigham Young University Idaho</h1>
    <img src="https://www.byui.edu/images/service-sites/map-banner.jpg">
    <img src="https://www.byui.edu/images/service-sites/map-banner.jpg">
    <p>BYU-Idaho is a comfortable place to learn and grow as a disciple of Jesus Christ because students, faculty, and employees share a commitment to live the gospel.</p>
</main>
img {
    width: 30%;
}
<main>
    <h1>Brigham Young University Idaho</h1>
    <img src="https://www.byui.edu/images/service-sites/map-banner.jpg">
    <p>BYU-Idaho is a comfortable place to learn and grow as a disciple of Jesus Christ because students, faculty, and employees share a commitment to live the gospel.</p>
</main>
img {
    width: 80%;
}
body {
    text-align: center;
}
h1 {
    text-align: center;
}
nav, footer {
    text-align: center;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
main p {
    width: 80%;
    margin: 0 auto;
}
main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}
a:hover {
    background-color: white;
    color: steelblue;
}